* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid red;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    text-align: center;
}

/* team canvas */
#teamCanvas {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
    justify-content: space-between;
}

.card {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.card-info {
    padding: 10px;
    text-align: center;
    background-color: #444;
    color: #fff;
    line-height: 1.2;
}

.card-info h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3rem;
}